<style>
  body {
      background: black;
  }
  .hidden {
      display: none;
  }
</style>
<canvas width=880 height=880></canvas>
<img class="hidden"><canvas class="temp hidden"></canvas>
<input type="file" />
<script>
  /* initial test was a pretty accident!
  for(var i = 0; i < 73; ++i) {
    for(var j = 0; j < 23; ++j) {
      radius = ((73 - i) / 73) * x; //outside in
      start = ((Math.PI * 2) / 23) * j;
      end = start + ((Math.PI * 2) / 23);
      ctx.fillStyle = bit ? "green" : "yellow";
      bit = !bit;
      ctx.beginPath();
      ctx.arc(x, y, radius, start, end, counter);
      ctx.fill();
      //ctx.stroke();
    }
  }
  */

  // carl sagan's arecibo message
  var msg = [
    "00000010101010000000000",
    "00101000001010000000100",
    "10001000100010010110010",
    "10101010101010100100100",
    "00000000000000000000000",
    "00000000000011000000000",
    "00000000001101000000000",
    "00000000001101000000000",
    "00000000010101000000000",
    "00000000011111000000000",
    "00000000000000000000000",
    "11000011100011000011000",
    "10000000000000110010000",
    "11010001100011000011010",
    "11111011111011111011111",
    "00000000000000000000000",
    "00010000000000000000010",
    "00000000000000000000000",
    "00001000000000000000001",
    "11111000000000000011111",
    "00000000000000000000000",
    "11000011000011100011000",
    "10000000100000000010000",
    "11010000110001110011010",
    "11111011111011111011111",
    "00000000000000000000000",
    "00010000001100000000010",
    "00000000001100000000000",
    "00001000001100000000001",
    "11111000001100000011111",
    "00000000001100000000000",
    "00100000000100000000100",
    "00010000001100000001000",
    "00001100001100000010000",
    "00000011000100001100000",
    "00000000001100110000000",
    "00000011000100001100000",
    "00001100001100000010000",
    "00010000001000000001000",
    "00100000001100000000100",
    "01000000001100000000100",
    "01000000000100000001000",
    "00100000001000000010000",
    "00010000000000001100000",
    "00001100000000110000000",
    "00100011101011000000000",
    "00100000001000000000000",
    "00100000111110000000000",
    "00100001011101001011011",
    "00000010011100100111111",
    "10111000011100000110111",
    "00000000010100000111011",
    "00100000010100000111111",
    "00100000010100000110000",
    "00100000110110000000000",
    "00000000000000000000000",
    "00111000001000000000000",
    "00111010100010101010101",
    "00111000000000101010100",
    "00000000000000101000000",
    "00000000111110000000000",
    "00000011111111100000000",
    "00001110000000111000000",
    "00011000000000001100000",
    "00110100000000010110000",
    "01100110000000110011000",
    "01000101000001010001000",
    "01000100100010010001000",
    "00000100010100010000000",
    "00000100001000010000000",
    "00000100000000010000000",
    "00000001001010000000000",
    "01111001111101001111000"
  ];

  /* penduin
  msg = [
    "00011000",
    "01111000",
    "00011000",
    "00101110",
    "00101110",
    "00101111",
    "00011000",
    "00111100"
  ];
  */

  // initialize: render msg into temp canvas
  (function() {
    var tmp = document.querySelector("canvas.temp");
    var tmpCtx = tmp.getContext("2d");
    tmp.width = msg[0].length;
    tmp.height = msg.length;
    var image = tmpCtx.getImageData(0, 0, tmp.width, tmp.height);
    var px = image.data;
    for(var x = 0; x < msg[0].length; ++x) {
      for(var y = 0; y < msg.length; ++y) {
        var pos = x + (y * tmp.width);
        px[pos * 4 + 0] = parseInt(msg[y][x], null) ? 250 : 50;
        px[pos * 4 + 1] = parseInt(msg[y][x], null) ? 250 : 50;
        px[pos * 4 + 2] = parseInt(msg[y][x], null) ? 250 : 50;
        px[pos * 4 + 3] = 255;
      }
    }
    tmpCtx.putImageData(image, 0, 0);
    document.querySelector("img").src = tmp.toDataURL();
  })();

  var offx = 0;
  var offy = 0;
  function draw() {
    var canv = document.querySelector("canvas");
    var ctx = canv.getContext("2d");

    var x = canv.width / 2;
    var y = canv.height / 2;
    var radius = 123;
    var start = 0;
    var end = Math.PI * 2;
    var counter = false;
    var px = null;

    var img = document.querySelector("canvas.temp");
    var imgCtx = img.getContext("2d");
    
    canv.width = canv.width;
    if(offx < 0) offx = img.width - 1;
    if(offy < 0) offy = img.height - 1;
    
    for(var i = 0; i < img.width; ++i) {
      for(var j = 0; j < img.height; ++j) {
        radius = ((img.width - i) / img.width) * x; //outside in
        start = ((Math.PI * 2) / img.height) * j;
        end = start + ((Math.PI * 2) / img.height);
        px = imgCtx.getImageData((i + offx) % img.width,
                                 (j + offy) % img.height, 1, 1).data;
        ctx.fillStyle = [
          "rgba(", px[0], ",", px[1], ",", px[2], ",", px[3] / 255, ")"
        ].join("");
        ctx.strokeStyle = ctx.fillStyle;
        ctx.beginPath();
        ctx.arc(x, y, radius, start, end, counter);
        ctx.arc(x, y, radius - (((img.width - i) / img.width)) * x,
                end, start, !counter);
        ctx.fill();
        ctx.stroke();
      }
    }
  }
  draw();

  // support custom images  (keep 'em small; this toy is dumb and slow!)
  document.querySelector("input").addEventListener("change", function(e) {
		var reader = new FileReader();
    reader.addEventListener("load", function (e) {
      var img = document.querySelector("img");
      var tmp = document.querySelector("canvas.temp");
      img.src = e.target.result;
      tmp.width = img.width;
      tmp.height = img.height;
      tmp.getContext("2d").drawImage(img, 0, 0);
      draw();
		});
		reader.readAsDataURL(this.files[0]);
  });

  // scroll/flip with arrows/enter/space
  window.addEventListener("keydown", function(e) {
    var img = document.querySelector("img");
    var tmp = document.querySelector("canvas.temp").getContext("2d");
    if(e.key === "ArrowRight") {
      offx++;
    } else if(e.key === "ArrowLeft") {
      offx--;
    } else if(e.key === "ArrowUp") {
      offy++;
    } else if(e.key === "ArrowDown") {
      offy--;
    } else if(e.key === " ") {
      tmp.save();
      tmp.scale(1, -1);
      tmp.drawImage(img, 0, img.height * -1);
      tmp.restore();
      document.querySelector("img").src = tmp.canvas.toDataURL();
    } else if(e.key === "Enter") {
      tmp.save();
      tmp.scale(-1, 1);
      tmp.drawImage(img, img.width * -1, 0);
      tmp.restore();
      document.querySelector("img").src = tmp.canvas.toDataURL();
    }
    draw();
  });
</script>
